numpy
pandas
pdf2image
tqdm
transformers
pillow
scipy
h5py
matplotlib
openpyxl
pytesseract
python-docx


torch==1.9.0
torchvision==0.10.0
timm==0.5.4
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
opencv-python