numpy
pandas
pdf2image
tqdm
transformers
pillow
scipy
h5py
matplotlib
openpyxl
pytesseract
python-docx


torch==1.9.0
torchvision==0.10.0
timm==0.5.4
blobfile
mypy
numpy
pytest
requests
einops
tensorboardX
scipy
opencv-python

Werkzeug==0.16.1
Flask==1.1.4
#flask-restful
#Flask-RESTplus==0.13.0
MarkupSafe==2.0.1